
<ion-item-sliding>
    <ion-item class="ion-activatable" (click)="presentModal(item)">
        <ion-avatar>
            <img [src]="item?.itemImageUrl" [alt]="item.itemName">
        </ion-avatar>
        <ion-text>    {{item.itemName}}</ion-text>
        <ion-text slot="end">    {{quantityInCart}}  </ion-text>
        <ion-text slot="end">
            <ion-text>
                <div [ngStyle]="{textDecorationLine: item.discount ? 'line-through' : 'none'}">{{item.price | currency: 'USD'}}</div>
                <div *ngIf="item.discount>0">Discount: {{item.discount}}%</div>
                <div *ngIf="item.discount>0" style="color: red">{{item.newPrice | currency: 'USD'}}</div>
            </ion-text>
        </ion-text>
        <ion-ripple-effect></ion-ripple-effect>
    </ion-item>

    <ion-item-options side="end">
        <ion-item-option (click)="addItemToCart(item)">Buy</ion-item-option>
    </ion-item-options>
</ion-item-sliding>




