<h1>_</h1>
<ion-content *ngIf="sum != 0">
    <ion-list>
        <div *ngFor="let item of cart">
            <ion-item-sliding>
                <ion-item class="ion-activatable">
                    <ion-avatar>
                        <img [src]="item?.itemImageUrl" alt="">
                    </ion-avatar>
                    <ion-text>    {{item.itemName}}</ion-text>
                    <ion-text slot="end">    {{item.addedToCart}}x</ion-text>
                    <ion-buttons slot="end">
                        <ion-button (click)="oneMoreItem(item, true)" fill="clear" color="secondary">
                            <h2>+</h2>
                        </ion-button>
                        <ion-button (click)="oneMoreItem(item, false)" fill="clear" color="secondary">
                            <h2>-</h2>
                        </ion-button>
                    </ion-buttons>
                    <ion-text *ngIf="!item.discount" slot="end">
                        {{item.price | currency: 'USD'}}
                    </ion-text>
                    <ion-text *ngIf="item.discount" slot="end" color="danger">
                        {{item.newPrice | currency: 'USD'}}
                    </ion-text>

                    <ion-ripple-effect></ion-ripple-effect>
                </ion-item>

                <ion-item-options side="end" >
                    <ion-item-option color="danger" (click)="removeItemFromCart(item.itemId)">X</ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </div>
    </ion-list>
    <ion-text color="primary">
       <h2 align="center" > Total sum {{sum}} </h2>
    </ion-text>
    <ion-button (click)="buyItems()" strong="true" size="small" expand="block">Buy</ion-button>


</ion-content>
<ion-text  align="center">
    <h2 *ngIf="sum == 0">Your cart is empty</h2>
</ion-text>
