<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button color="secondary" routerLink="login">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="products">
      <ion-icon name="beer"></ion-icon>
      <ion-label>Items</ion-label>
    </ion-tab-button>
  </ion-tab-bar>



</ion-tabs>
