<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
        <ion-buttons slot="primary" *ngIf="showFields">
            <ion-button  color="secondary">
                <ion-icon name="log-in-outline" color="tertiary" ></ion-icon>
                <ion-label color="tertiary" routerLink="/login" > Login</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form
            *ngIf="!showFields"
          [formGroup]="loginForm"
          name="loginForm"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
    >
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                        <ion-label position="floating">Email</ion-label>
                        <ion-input type="email" [formControl]="userEmail" required></ion-input>
                    </ion-item>
                  <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="text" [formControl]="userPassword" required></ion-input>
                  </ion-item>
                    <br>
                  <ion-button type="submit" color="primary" expand="block" [disabled]="!f.valid">
                    Login
                  </ion-button>
                  <ion-button routerLink="/signup" color="tertiary" fill="outline" expand="block">Sign up</ion-button>
                  <ion-button (click)="showFields = !showFields"
                              color="warning" fill="clear" expand="block">Forgot Password?</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <ion-button *ngIf="showFields" (click)="showFields = !showFields">Back</ion-button>
    <ion-text align="center"  color="secondary" *ngIf="showFields">
        <h3>Please fill the form bellow to recover your password. </h3>
    </ion-text>
    <form
            *ngIf="showFields"
            [formGroup]="userForgotPasswordForm"
            name="loginForm"
            (ngSubmit)="forgot.form.valid && forgotPassword(forgot.value)"
            #forgot="ngForm"
    >
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                        <ion-label position="floating">Email</ion-label>
                        <ion-input type="email" [formControl]="forgot.control.get('userEmail')" required></ion-input>
                    </ion-item>
                    <ion-button type="submit" color="primary" expand="block" [disabled]="!forgot.valid">Recover</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <ion-text align="center"  color="warning" *ngIf="showFields"><h3>{{errorMessage}}</h3></ion-text>
    <ion-text align="center"  color="primary" *ngIf="showFields"><h3>{{successMessage}}</h3></ion-text>
</ion-content>

