<h1> _</h1>
<ion-button (click)="toggleInfiniteScroll()" expand="block">
    Toggle Infinite Scroll
</ion-button>
<ion-searchbar></ion-searchbar>

<ion-content>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
            <ion-list >
                    <app-item *ngFor="let i of allItems" [item]="i"></app-item>
            </ion-list>
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
