<h1> _</h1>
<ion-grid>
    <ion-row>
        <ion-col size-md="6" offset-md="3">
            <ion-searchbar color="light" #ionSearchbar
                           (ionInput)="filterByName(ionSearchbar.value)"></ion-searchbar>
        </ion-col>
    </ion-row>
    <ion-row class="zeroPadding">
        <ion-col size-md="6" offset-md="3">
            <ion-range #ionRange id="dual-range"
                       (ionChange)="filterByPrice(ionRange.value.lower, ionRange.value.upper)"
                       dual-knobs snaps="true" ticks="true" pin color="dark">
                <ion-icon slot="start" size="small" name="cash-outline"></ion-icon>
                <ion-icon slot="end" name="card-outline"></ion-icon>
            </ion-range>
        </ion-col>
    </ion-row>
    <ion-content>
        <ion-row class="items">
            <ion-col size-md="6" offset-md="3">
                <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
                    <ion-infinite-scroll-content
                            loadingSpinner="bubbles"
                            loadingText="Loading more data...">
                        <app-item *ngFor="let i of filtered" [item]="i"></app-item>
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ion-col>
        </ion-row>
    </ion-content>
</ion-grid>
