<ion-content>
    <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>{{item.type}}</ion-card-subtitle>
            <ion-card-title>{{item.itemName}}</ion-card-title>
            <ion-card-title *ngIf="isAdmin">SHOULD WORk</ion-card-title>
            <ion-content>
                <ion-fab vertical="top" horizontal="end" slot="fixed" >
                    <ion-fab-button (click)="showItemOption()" id="main">
                        <ion-icon name="settings"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
                <ion-menu side="end" menuId="menu" contentId="main">
                    <ion-header>
                        <ion-toolbar color="primary">
                            <ion-title>Settings</ion-title>
                        </ion-toolbar>
                    </ion-header>
                    <ion-content>
                        <ion-list >
                            <ion-item [ngStyle]="{cursor: 'pointer'}" (click)="addItems()">Add items</ion-item>
                            <ion-item [ngStyle]="{cursor: 'pointer'}" (click)="promote()">Promote</ion-item>
                            <ion-item [ngStyle]="{cursor: 'pointer'}" (click)="cancelPromotion()">Cancel Promotion</ion-item>
                            <ion-item [ngStyle]="{cursor: 'pointer'}" (click)="deleteItem(item)">Delete item</ion-item>
                        </ion-list>
                    </ion-content>
                </ion-menu>
            </ion-content>
        </ion-card-header>
        <ion-img  [src]="item.itemImageUrl"></ion-img>
        <ion-card-content>
            {{item.description}}
        </ion-card-content>
        <ion-card-content>
            {{item.price | currency: 'USD'}}
        </ion-card-content>
    </ion-card>
    <ion-button *ngIf="user" (click)="addToCard(item)">Add to card</ion-button>
</ion-content>
